In [20]:
from autoscraper import AutoScraper
url = 'http://www.cs.cmu.edu/~mehrbod/RR/41955207.xml'
wanted_list = ["pauli68" , "07/28/2006" , "like eating in a funeral parlor!" , "2"]
scraper = AutoScraper()
result = scraper.build(url, wanted_list)
print(result)

['pauli68', 'chainsaw06', 'larrybird33', 'lax111', '07/28/2006', '07/19/2006', '07/11/2006', 'like eating in a funeral parlor!', 'Hurry up and get to this place!', 'Great Steaks / Great Service', 'Great atmosphere and food to match!!!', '2', '1', '5']

In [21]:
scraper.get_result_similar('http://www.cs.cmu.edu/~mehrbod/RR/41955207.xml' , grouped = True)

{'rule_43o8': ['pauli68', 'chainsaw06', 'larrybird33', 'lax111'],
 'rule_cmvb': ['07/28/2006', '07/28/2006', '07/19/2006', '07/11/2006'],
 'rule_d466': ['07/28/2006', '07/28/2006', '07/19/2006', '07/11/2006'],
 'rule_avyb': ['like eating in a funeral parlor!',
  'Hurry up and get to this place!',
  'Great Steaks / Great Service',
  'Great atmosphere and food to match!!!'],
 'rule_dx60': ['2', '1', '5', '5']}

In [23]:
scraper.set_rule_aliases({'rule_43o8' : 'name' , 'rule_cmvb' : 'date' , 'rule_d466' : 'date_duplicate' , 'rule_avyb' : 'comment' , 'rule_dx60' : 'rating'})
scraper.keep_rules(['rule_43o8' , 'rule_cmvb' , 'rule_d466' , 'rule_avyb' , 'rule_dx60'])

In [25]:
df = scraper.get_result_similar('http://www.cs.cmu.edu/~mehrbod/RR/41955207.xml' , grouped = True , group_by_alias=True)

In [26]:
import pandas as pd
df = pd.DataFrame(df)

In [27]:
df

,name,date,date_duplicate,comment,rating
0,pauli68,07/28/2006,07/28/2006,like eating in a funeral parlor!,2
1,chainsaw06,07/28/2006,07/28/2006,Hurry up and get to this place!,1
2,larrybird33,07/19/2006,07/19/2006,Great Steaks / Great Service,5
3,lax111,07/11/2006,07/11/2006,Great atmosphere and food to match!!!,5

## FLIPKART - MOBILE PRICE SCRAPING

In [1]:
from autoscraper import AutoScraper
url = 'https://www.flipkart.com/search?q=iphone+11&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=iphone+11%7CMobiles&requestId=d346cd2f-6944-4f20-b10f-a1fb18ade701&as-searchtext=iphoe'
wanted_list = ["APPLE iPhone 11 (Black, 64 GB)" , "₹46,999"]
scraper = AutoScraper()
result1 = scraper.build(url, wanted_list)
print(result1)

['APPLE iPhone 11 (Black, 64 GB)', 'APPLE iPhone 11 (White, 64 GB)', 'APPLE iPhone 11 (Purple, 64 GB)', 'APPLE iPhone 11 (Red, 64 GB)', 'APPLE iPhone 11 (Black, 128 GB)', 'APPLE iPhone 11 (Green, 64 GB)', 'APPLE iPhone 11 (Red, 128 GB)', 'Apple iPhone 11 (Black, 64 GB) (Includes EarPods, Power Adapter)', 'Apple iPhone 11 (Purple, 64 GB) (Includes EarPods, Power Adapter)', 'APPLE iPhone 11 (Yellow, 64 GB)', 'APPLE iPhone 11 (Green, 128 GB)', 'Apple iPhone 11 (White, 64 GB) (Includes EarPods, Power Adapter)', 'APPLE iPhone 11 (Yellow, 128 GB)', 'APPLE iPhone 11 (White, 128 GB)', 'APPLE iPhone 11 (Purple, 128 GB)', 'Apple iPhone 11 (Purple, 128 GB) (Includes EarPods, Power Adapter)', 'Apple iPhone 11 (Red, 64 GB) (Includes EarPods, Power Adapter)', 'Apple iPhone 11 (White, 128 GB) (Includes EarPods, Power Adapter)', 'Apple iPhone 11 (Yellow, 128 GB) (Includes EarPods, Power Adapter)', 'Apple iPhone 11 (Green, 64 GB) (Includes EarPods, Power Adapter)', 'Apple iPhone 11 (Black, 128 GB) (Includes EarPods, Power Adapter)', 'Apple iPhone 11 (Black, 256 GB) (Includes EarPods, Power Adapter)', 'Apple iPhone 11 (Yellow, 64 GB) (Includes EarPods, Power Adapter)', 'Apple iPhone 11 (Green, 256 GB) (Includes EarPods, Power Adapter)', '₹46,999', '₹51,999', '₹56,999', '₹66,999']

In [3]:
scraper.get_result_similar('https://www.flipkart.com/search?q=iphone+11&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=iphone+11%7CMobiles&requestId=d346cd2f-6944-4f20-b10f-a1fb18ade701&as-searchtext=iphoe' , grouped = True)

{'rule_aui3': ['APPLE iPhone 11 (Black, 64 GB)',
  'APPLE iPhone 11 (White, 64 GB)',
  'APPLE iPhone 11 (Purple, 64 GB)',
  'APPLE iPhone 11 (Red, 64 GB)',
  'APPLE iPhone 11 (Black, 128 GB)',
  'APPLE iPhone 11 (Green, 64 GB)',
  'APPLE iPhone 11 (Red, 128 GB)',
  'Apple iPhone 11 (Black, 64 GB) (Includes EarPods, Power Adapter)',
  'Apple iPhone 11 (Purple, 64 GB) (Includes EarPods, Power Adapter)',
  'APPLE iPhone 11 (Yellow, 64 GB)',
  'APPLE iPhone 11 (Green, 128 GB)',
  'Apple iPhone 11 (White, 64 GB) (Includes EarPods, Power Adapter)',
  'APPLE iPhone 11 (Yellow, 128 GB)',
  'APPLE iPhone 11 (White, 128 GB)',
  'APPLE iPhone 11 (Purple, 128 GB)',
  'Apple iPhone 11 (Purple, 128 GB) (Includes EarPods, Power Adapter)',
  'Apple iPhone 11 (Red, 64 GB) (Includes EarPods, Power Adapter)',
  'Apple iPhone 11 (White, 128 GB) (Includes EarPods, Power Adapter)',
  'Apple iPhone 11 (Yellow, 128 GB) (Includes EarPods, Power Adapter)',
  'Apple iPhone 11 (Green, 64 GB) (Includes EarPods, Power Adapter)',
  'Apple iPhone 11 (Black, 128 GB) (Includes EarPods, Power Adapter)',
  'Apple iPhone 11 (Black, 256 GB) (Includes EarPods, Power Adapter)',
  'Apple iPhone 11 (Yellow, 64 GB) (Includes EarPods, Power Adapter)',
  'Apple iPhone 11 (Green, 256 GB) (Includes EarPods, Power Adapter)'],
 'rule_t01z': ['APPLE iPhone 11 (Black, 64 GB)',
  'APPLE iPhone 11 (White, 64 GB)',
  'APPLE iPhone 11 (Purple, 64 GB)',
  'APPLE iPhone 11 (Red, 64 GB)',
  'APPLE iPhone 11 (Black, 128 GB)',
  'APPLE iPhone 11 (Green, 64 GB)'],
 'rule_6z2r': ['₹46,999',
  '₹51,999',
  '₹51,999',
  '₹46,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹46,999',
  '₹51,999',
  '₹51,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹56,999',
  '₹56,999',
  '₹56,999',
  '₹46,999',
  '₹56,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹66,999',
  '₹51,999',
  '₹66,999'],
 'rule_xu5v': ['₹46,999',
  '₹51,999',
  '₹51,999',
  '₹46,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹46,999',
  '₹51,999',
  '₹51,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹56,999',
  '₹56,999',
  '₹56,999',
  '₹46,999',
  '₹56,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹66,999',
  '₹51,999',
  '₹66,999'],
 'rule_bvof': ['₹46,999',
  '₹51,999',
  '₹51,999',
  '₹46,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹46,999',
  '₹51,999',
  '₹51,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹56,999',
  '₹56,999',
  '₹56,999',
  '₹46,999',
  '₹56,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹66,999',
  '₹51,999',
  '₹66,999'],
 'rule_gr4m': ['₹46,999',
  '₹51,999',
  '₹51,999',
  '₹46,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹46,999',
  '₹51,999',
  '₹51,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹56,999',
  '₹56,999',
  '₹56,999',
  '₹46,999',
  '₹56,999',
  '₹56,999',
  '₹51,999',
  '₹56,999',
  '₹66,999',
  '₹51,999',
  '₹66,999']}

In [4]:
scraper.set_rule_aliases({'rule_aui3' : 'name' , 'rule_6z2r' : 'price' })
scraper.keep_rules(['rule_aui3' , 'rule_6z2r' ])

In [6]:
df1 = scraper.get_result_similar('https://www.flipkart.com/search?q=iphone+11&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=iphone+11%7CMobiles&requestId=d346cd2f-6944-4f20-b10f-a1fb18ade701&as-searchtext=iphoe' , grouped = True , group_by_alias = True)

In [7]:
import pandas as pd
df1 = pd.DataFrame(df1)

In [8]:
df1

                                                 name    price
0                      APPLE iPhone 11 (Black, 64 GB)  ₹46,999
1                      APPLE iPhone 11 (White, 64 GB)  ₹51,999
2                     APPLE iPhone 11 (Purple, 64 GB)  ₹51,999
3                        APPLE iPhone 11 (Red, 64 GB)  ₹46,999
4                     APPLE iPhone 11 (Black, 128 GB)  ₹56,999
5                      APPLE iPhone 11 (Green, 64 GB)  ₹51,999
6                       APPLE iPhone 11 (Red, 128 GB)  ₹56,999
7   Apple iPhone 11 (Black, 64 GB) (Includes EarPo...  ₹46,999
8   Apple iPhone 11 (Purple, 64 GB) (Includes EarP...  ₹51,999
9                     APPLE iPhone 11 (Yellow, 64 GB)  ₹51,999
10                    APPLE iPhone 11 (Green, 128 GB)  ₹56,999
11  Apple iPhone 11 (White, 64 GB) (Includes EarPo...  ₹51,999
12                   APPLE iPhone 11 (Yellow, 128 GB)  ₹56,999
13                    APPLE iPhone 11 (White, 128 GB)  ₹56,999
14                   APPLE iPhone 11 (Purple, 128 GB)  ₹56,999
15  Apple iPhone 11 (Purple, 128 GB) (Includes Ear...  ₹56,999
16  Apple iPhone 11 (Red, 64 GB) (Includes EarPods...  ₹46,999
17  Apple iPhone 11 (White, 128 GB) (Includes EarP...  ₹56,999
18  Apple iPhone 11 (Yellow, 128 GB) (Includes Ear...  ₹56,999
19  Apple iPhone 11 (Green, 64 GB) (Includes EarPo...  ₹51,999
20  Apple iPhone 11 (Black, 128 GB) (Includes EarP...  ₹56,999
21  Apple iPhone 11 (Black, 256 GB) (Includes EarP...  ₹66,999
22  Apple iPhone 11 (Yellow, 64 GB) (Includes EarP...  ₹51,999
23  Apple iPhone 11 (Green, 256 GB) (Includes EarP...  ₹66,999